.rootExchangeRate {
  width: 47%;
  display: flex;
  justify-content: space-between;
  .bx--number {
    background-color: #fafafa;
    width: 17rem;
  }
  .bx--number input[type="number"] {
    background-color: #fafafa;
    &:focus {
      outline: none;
    }
    &:disabled {
      color: #000;
      font-weight: 500;
    }
  }
  .bx--number__control-btn:focus {
    outline: none;
  }
  &__viewBtn {
    display: flex;
    flex-direction: row;
  }
}
